body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

#article-name{
  font-weight: bold;
}